.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color:darkblue;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.add-task {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-task input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task button:hover {
    background-color: #2980b9;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.task:hover {
    transform: scale(1.02);
}

.task-text {
    flex-grow: 1;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

.edit-btn {
    background-color: #f39c12;
    color: white;
    margin-right: 10px;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}
